html {
  font-size: 2rem;
  background-image: url("loeffel.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}
