#menu {
margin: 0 auto;
text-align: center;
}

.menu_link {
  color:red;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
